.card {
  &--left {
    position: absolute;
    top: 48px;
    left: 0;
    transform: scale(1);
    transition: 500ms;
    opacity: 1;
  }

  &--active {
    position: absolute;
    top: 48px;
    left: -50%;
    transform: scale(0.8);
    transition: 500ms;
    opacity: 1;
  }

  &--right {
    position: absolute;
    top: 48px;
    left: 50%;
    transform: scale(0.8);
    transition: 500ms;
    opacity: 0.6;
  }
}