@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* width: 100vw; */
  min-height: 100vh;
  background-color: #F5F9FC;
}

td {
  border-width: 1px;
}

.custom-td td {
  border-width: 0;
}

p {
  line-height: normal;
}