@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  background-color: #FFF4C7;
  font-size: 16px;
}

/* .App {
  height: 100vh;
} */

td {
  border-width: 1px;
}

.custom-td td {
  border-width: 0;
}

p {
  line-height: normal;
}

h1 {
  font-size: clamp(3rem, 6vw, 4rem);
}

h3 {
  font-size: clamp(2rem, 4vw, 3rem);
}

h5 {
  font-size: clamp(1rem, 2vw, 2rem);
}

.truncate-single-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}